.hypertension{
    $content-body-padding-top: 30px;
    $content-body-padding-left: 32px;

    ul{
        li{
            font-size: 36px;
            margin: 10%;
            padding: 10%;
        }
    }

    .form-title{
        position: fixed;
        z-index: 1;
        background: #3ec3bd;
        width: 100%;
        .col-title{
            color: white;
            text-align: center;
            display: inline-block;
            width: 100%;
            font-size: 36px;
            color: white;
            a{
                color: white;
            }
        }
        /*h1{
            color: white;
            text-align: center;
            display: inline-block;
            width: 100%;
            a{
                color: white;
            }
        }*/
    }
    ul.nav-tabs{
        //width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 35px; /* Set the top position of pinned element */
    }

    .form-content{
        font-size: 28px;
        color: #333333;
        padding-top: 50px;
        //height: 200px;
        //border: 1px solid red;
        .content-body{
            background: white;
            .content-body-row{
                width: 100%;
                padding: $content-body-padding-top $content-body-padding-left;
                border-bottom: 1px solid lightgrey;
                .sffs{
                    float: right;
                    width: 55%;
                }
            }
            .bz-labels{
                padding: $content-body-padding-top $content-body-padding-left;
                .one-bz-btn{
                    width: 45%;
                }
            }
            .bz-add-btn-div{
                #add-bz{
                    text-align: center;
                    width: 100%;
                }
            }
            .tz-add-btn-div{
                #add-bz{
                    text-align: center;
                    width: 100%;
                }
            }
            label.bfz{
                width: 100%;
                display: block;
            }
        }
    }
}
