$icon-font-path: "http://$cdn-path/fonts/bootstrap";
$fa-font-path: "http://$cdn-path/fonts/fontawesome";
@import 'bootstrap-variables';

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'fontawesome/scss/font-awesome';

body.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 0;
    transition: none;
    &:focus {
        border-color: auto;
        box-shadow: none;
    }
}
