<div class="container hypertension">
    <form>
    <div class="form-title row">
        <div class="col-xs-12 col-title">
            <a href="javascript: void(0);" class="pull-left">返回</a>
            <span>高血压随访表</span>
            <a href="javascript: void(0);" class="pull-right">提交</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked affix" data-spy="affix" data-offset-top="125">
                <li>
                    <a href="#sfjbxx" data-bypass>随访基本信息</a>
                </li>
                <li>
                    <a href="#bz" data-bypass>病症</a>
                </li>
                <li>
                    <a href="#tz" data-bypass>体征</a>
                </li>
                <li>
                    <a href="#bfz" data-bypass>并发症</a>
                </li>
                <li>
                    <a href="#shzdfs" data-bypass>生活方式指导</a>
                </li>
                <li>
                    <a href="#fyqk" data-bypass>服药情况</a>
                </li>
                <li>
                    <a href="#yyqk" data-bypass>用药情况</a>
                </li>
                <li>
                    <a href="#fzjc" data-bypass>辅助检查</a>
                </li>
                <li>
                    <a href="#zz" data-bypass>转诊</a>
                </li>
                <li>
                    <a href="#ccsffl" data-bypass>此次随访分类</a>
                </li>
                <li>
                    <a href="#xcsfrq" data-bypass>下次随访日期</a>
                </li>
                <li>
                    <a href="#sfys" data-bypass>随访医生</a>
                </li>
                <li>
                    <a href="#jkcf" data-bypass>健康处方</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div id="sfjbxx" class="form-content">
                sfjbxx
            </div>
            <div id="bz" class="form-content">
                bz
            </div>
            <div id="tz" class="form-content">
                tz
            </div>
            <div id="bfz" class="form-content">
                bfz
            </div>
            <div id="shzdfs" class="form-content">
                shzdfs
            </div>
            <div id="fyqk" class="form-content">
                fyqk
            </div>
            <div id="yyqk" class="form-content">
                yyqk
            </div>
            <div id="fzjc" class="form-content">
                fzjc
            </div>
            <div id="zz" class="form-content">
                zz
            </div>
            <div id="ccsffl" class="form-content">
                ccsffl
            </div>
            <div id="xcsfrq" class="form-content">
                xcsfrq
            </div>
            <div id="sfys" class="form-content">
                sfys
            </div>
            <div id="jkcf" class="form-content">
                jkcf
            </div>
        </div>
    </div>
    </form>
</div>
