<div class="container agenthome">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href="/stock">{{gettext 'Stock warning'}}</a>
                </li>
                <li class="active" role="presentation">
                    <a href="/expire">{{gettext 'Expire warning'}}</a>
                </li>
            </ul>
            <div id="information" class="panel panel-sidebar information">
            </div>
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href="/stock">{{gettext 'Stock warning'}}</a>
                </li>
                <li class="active" role="presentation">
                    <a href="/expire">{{gettext 'Expire warning'}}</a>
                </li>
            </ul>
            <div id="information" class="panel panel-sidebar information">
            </div>
        </div>
    </div>
</div>
